* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  height: 90%;
  padding-top: 30vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, rgba(106, 4, 15, 0.9), rgba(106, 4, 15, 0.3)), url("./flame.png") center top;
  background-size: cover;
}
.home__name {
  font-size: 5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #f48c06;
}
.home__name--last {
  color: #370617;
  font-weight: 800;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-radius: 2px;
}
.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #f48c06;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #f48c06;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #f48c06;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.product-gallery{
  max-height: 200px;
  padding: 5px;
  border-radius: 2px;;
  /* grid: repeat(3, 80px) / auto-flow; */
  /* flex-wrap: wrap; */
}

img {
  border-radius: 5px;
}

.Navbar, #main-navbar {
  display: inline-flexbox;
  position: -webkit-sticky;
  position: sticky;
  margin: 10px;
  padding: 1.5rem;
  align-items: center;
  flex: 1 30px;

}

.footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: #f48c06;
  background-color: rgb(174, 174, 174);
}

@media screen and (min-width: 768px) {
  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: right;
  }
  .nav .menu-nav__item {
    display: inline;
    padding-right: 1.5rem;
  }
  .nav .menu-nav__link {
    font-size: 1.5rem;
  }
}
body {
  background: #6a040f;
  color: #f48c06;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  line-height: normal;
  font-weight: 400;
  font-style: normal;
  transition: all 0.25s;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  padding: 3px;
  margin: 3px;
  touch-action: manipulation;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  user-select: none;
}
button:disabled {
  cursor: not-allowed;
}
#component-main-div{
  max-height: 80;
  scroll-behavior: auto;
}
#product-gallery{
  display: block flex;
}
h1, h2, h3 {
  font-weight: 700;
}

a {
  color: #f48c06;
  text-decoration: none;
}

.text-secondary {
  color: #370617;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;
}
main .social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}
main .social-icons a {
  padding: 0.4rem;
  transition: all 0.5s ease-in-out;
}
main .social-icons a:hover {
  color: #370617;
}