* {
  box-sizing: border-box;
  /* margin: 1; */
  padding: 4px;
}
.App {
  height: 100%;
  padding-top: 5vh;
  overflow: hidden;
  align-items: center;
  align-self: center;
  text-align: center;
  background: linear-gradient(to right, rgba(106, 4, 15, 0.9), rgba(106, 4, 15, 0.3)), url("flame.png") center top;
  background-size: cover;
}
body {
  /* background: #6a040f; */
  background: white;
  color: #6A040F;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1;
  align-content: center;
}
.navbar-main  {
  position: fixed;
  /* z-index: 2; */
  /* width: 100%; */
  padding: .5rem;
  color:#03071E;
  align-content: center;
  align-items: center;

}  
.app__name {
  font-size: 5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 5px solid #f48c06;
}
.app__name--last {
  color: #370617;
  font-weight: 800;
}

.navbar-btn {
  position: absolute;
  /* z-index: 1; */
  /* right: 1rem; */
  /* top: 1rem; */
  /* height: 20px; */
  /* width: 28px; */
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.navbar-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #f48c06;
  transition: all 0.5s ease-in-out;
}
.navbar-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #f48c06;
  transition: all 0.5s ease-in-out;
}
.navbar-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #f48c06;
  transition: all 0.5s ease-in-out;
}
.navbar-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}


h1, h2, h3 {
  font-weight: 700;
}

a {
  color: #370617;
  text-decoration: none;
}

.text-secondary {
  color: #03071E;
}

header {
  position: fixed;
  /* z-index: 2; */
  width: 100%;
  padding: 1rem;
}

main {
  max-height: 90%;
  /* width: 100%; */
}
main .social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}
main .social-icons a {
  padding: 0.4rem;
  transition: all 0.5s ease-in-out;
}
main .social-icons a:hover {
  color: #370617;
}

footer {
  font-size: 1rem;
  /* position: fixed; */
  /* bottom: 0.4rem;
  right: 1rem; */
  text-align: right;
  padding: 1rem;
  color: #f48c06;
}